:root {
    --underline-color: #D0D0B4;
    --button-color: #E8E8D0;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--button-color);
}

.page-button-padding {
    flex-grow: 1;
}

.page-button {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5px;
    margin-top: 5px;
    align-content: center;
    padding: 2px;
    background-color: var(--button-color);
    border-bottom: 2px solid var(--underline-color);
    user-select: none;
    cursor: pointer;
}