:root {
    --hovered-underline-color: #cecec0;
    --selected-underline-color: #e98b3f;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.page-button-padding {
    flex-grow: 1;
}

.page-button {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5px;
    margin-top: 5px;
    align-content: center;
    padding: 2px;
    user-select: none;
    cursor: pointer;
}

.page-button:hover {
    border-bottom: 2px solid var(--hovered-underline-color);
}

.page-button-selected {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5px;
    margin-top: 5px;
    align-content: center;
    padding: 2px;
    user-select: none;
    cursor: pointer;
    border-bottom: 2px solid var(--selected-underline-color);
}