:root {
    --underline-color: #E0E0C0;
    --button-color: #E8E8D0;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.page-button-padding {
    flex-grow: 1;
}

.page-button {
    margin: 0% 2.5%;
    align-content: center;
    padding: 2px;
    background-color: var(--button-color);
    border: 1.5px solid var(--underline-color);
    user-select: none;
    cursor: pointer;
}