:root {
    --site-background-color: #ffffff;
}

.site-frame {
    flex: 1 1 100px;
    height: 100%;
    background-color: var(--site-background-color);
    word-wrap: break-word;
    padding: 25px;
    overflow: auto;
}