.site {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  background-color: #ffffff;
  height: 100%; width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.site-padding {
  flex: 1 1 5%;
  max-width: 25%;
  overflow: auto;
  background-color: lightseagreen;
}