:root {
    --resume-download-background: #ecece9;
}

.resume-download-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resume-download-padding {
    background-color: var(--site-background-color);
    flex: 1 1 100px;
}

.resume-download-button {
    color: inherit;
    background-color: var(--resume-download-background);
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
}

a {
    color: inherit;
    text-decoration: underline;
}