._site 
{
    box-sizing: border-box;
    height: 100%;
    border: 5px solid #f5a144;
    background-color: white;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

._headingContainer {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

._heading
{
    margin: 0;
}